
body {
  font-family: Helvetica, Arial, Sans-Serif;
}
.albums-list{
  display: flex;
  flex-wrap: wrap;
  .album{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80px;
    margin: 10px;
    img{
      width: 20px;
      height: 20px;
      flex-grow: 1;
    }
    .details-containers{
      display: flex;
      flex-direction: column;      
      flex-grow: 5;
      margin: 10px;
      .album-title{
      }
      .artist-name{
      }
    }
  }  
}

.users-list{
  padding: 0px;
  .user-row {
    display: flex;
    flex-direction: row;
    margin: 10px;
    height: 28px;
    border-bottom: 1px solid rgb(102, 102, 102);
    img{
      flex-grow: 1;
    }
    .user-name{
      flex-grow: 3;
    }
    .user-site{
      flex-grow: 6;
    }
  }
}

.header {
  background-color: blue;
  width: 100%;
  height: 40px;
}

  
  