body {
  font-family: Helvetica, Arial, Sans-Serif;
}
.albums-list{
  display: flex;
  flex-wrap: wrap;
  .album{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 180px;
    margin: 10px;
    background-color: rgb(180, 180, 180);
    img{
      width: 20px;
      height: 20px;
      flex-grow: 1;
    }
    .details-containers{
      display: flex;
      flex-direction: column;      
      flex-grow: 5;
      margin: 10px;
      .album-title{
      }
      .artist-name{
      }
    }
  }
  .selected{
    color: rgb(182, 182, 182);
    background-color: rgb(243, 243, 243);
  }  

}

.users-list{
  padding: 0px;
  .user-row {
    margin: 10px;
    height: 28px;
    border-bottom: 1px solid rgb(102, 102, 102);
    img{
      display: inline-block;
      width: 50px;
    }
    .user-name{
      display: inline-block;
      width: 180px;
    }
    .user-site{
      display: inline-block;
    }
  }
}

.header {
  background-color: rgb(82, 82, 231);
  width: 100%;
  height: 40px;
}

  
  